<div class="page-header">
  <h1><%= current_user.profile.first_name %>'s Myaccount</h1>
</div>
<ul id="tab" class="nav nav-tabs">
  <li class="active"><a href="#changepass" data-toggle="tab">Change Password</a></li>
  <li class=""><a href="#profile" data-toggle="tab">Profile</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#dropdown1" data-toggle="tab">@fat</a></li>
      <li><a href="#dropdown2" data-toggle="tab">Cancel Account</a></li>
    </ul>
  </li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="changepass">
    <%= render :template => 'passwords/edit',
               :locals => {:resource => current_user, :resource_name => "user"} %>
  </div>
  <div class="tab-pane fade" id="profile">
    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore
      velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
      photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo
      nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna
      velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut
      DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente
      accusamus tattooed echo park.</p>
  </div>
  <div class="tab-pane fade" id="dropdown1">
    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
      lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore
      carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred
      pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice
      blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable
      tofu synth chambray yr.</p>
  </div>
  <div class="tab-pane fade" id="dropdown2">
    <p>Unhappy? <%#= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>
      .</p>
  </div>
</div>

<script>
    $(function () {
        $('.tabs a:last').tab('show')
    })
</script>
